.search-input {
  position: relative;
  display: flex;
  justify-content: center;
  height: 38px;
  font-weight: 400;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  width: 360px; /// box-sizing: ;
}
